/* I M P O R T */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
};
@font-face {
    font-family: QkSand;
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: TitilReg;
    src: url(../assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf);
}
@font-face {
    font-family: TitilBold;
    src: url(../assets/fonts/TitilliumWeb/TitilliumWeb-Bold.ttf);
}
@font-face {
    font-family: TitilBlack;
    src: url(../assets/fonts/TitilliumWeb/TitilliumWeb-Black.ttf);
} 

/* R E S E T */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(30, 20, 40, 1);
}

/* F O N T  F A M I L I E S */
.texto-header-mobile {
    font-family: Inter;
    font-size: 15px;

    color: rgba(255, 255, 255, 1);
}
.texto-header {
    font-family: Inter;
    font-size: 10px;

    color: rgba(255, 255, 255, 1);
}

/** MOBILE FIRST **/
@media screen and (max-width: 767px) {
    /* H E A D E R */
    .logotipo {
        display: none;
    }
    .header-top {
        display: none;
    }
    .header-bottom {
        display: none;
    }
    .texto-header {
        display: none;
    }
    
    header {
        display: flex;
        width: 100%;
        height: 60px;
        z-index: 100;

        background-color: rgba(30, 20, 40, 1);
        justify-content: space-around;
        align-items: center;

        position: fixed;
    }

    .barrinha {
        width: 30px;
        height: 30px;
    }
    .bolinha {
        width: 30px;
        height: 10px;
    }
    .logotipo-mobile {
        width: 85px;
    }

    /*Menu lateral*/
    .mostrar-menu {
        left: 0 !important;
    }
    
    header .menu {
        display: flex;
        width: 80vw;
        height: calc(100% - 60px);
        padding-bottom: 20px;
        z-index: 101;
        
        flex-direction: column;
        background-image: linear-gradient(to right bottom, rgba(30, 20, 40, 0.7), rgba(30, 20, 40, 0.4));
        backdrop-filter: blur(45px);
        align-items: center;
        
        position: fixed;
        top: 60px;
        left: -80vw;
        transition: left 0.4s;
    }

    .navs-principais {
        display: flex;
        width: 100%;
        height: 300px;

        flex-direction: column;
        justify-content: space-around;
    }
    .navs-principais a {
        display: flex;
        width: 100%;
        height: 70px;

        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        border-bottom: 2px solid rgba(250, 170, 0, 1);
        justify-content: center;
        align-items: center;
    }
    .here {
        color: rgba(250, 170, 0, 1);
    }

    .contatos {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        height: 140px;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 296px;
    }
    .phone {
        display: flex;
        width: 155px;
        height: 75px;

        align-items: center;
        justify-content: space-between;
        border-top: 2px solid rgba(250, 170, 0, 1);
    }
    .mail {
        display: flex;
        width: 100%;
        height: 75px;

        align-items: center;
        justify-content: space-evenly;
        border-top: 2px solid rgba(250, 170, 0, 1);
    }

    .redes-sociais {
        display: flex;
        width: 145px;
        height: 20px;

        justify-content: space-between;

        position: absolute;
        bottom: 60px;
    }

    /* Menu do Usuário */
    .mostrar-usuario {
        right: 0 !important;
    }

    .usuario {
        display: flex;
        width: 20vw;
        height: 40vw;

        flex-direction: column;
        background-image: linear-gradient(to right bottom, rgba(30, 20, 40, 0.7), rgba(30, 20, 40, 0.4));
        backdrop-filter: blur(45px);
        align-items: center;
        justify-content: space-around;

        position: fixed;
        top: 60px;
        right: -20vw;
        transition: right 0.4s;
    }

    /* M A I N */
    main {
        display: flex;
        
        justify-content: center;
        align-items: center;
    }
    
    .bk-login-mobile {
        display: flex;
        width: 100%;
        height: 690px;
    }
    .caixa-form {
        display: flex;
        width: 335px;
        height: 462px;

        border: solid 1px transparent;
        background-image: linear-gradient(to right bottom, rgba(30, 20, 40, 0.8), rgb(60, 5, 65, 0.6)), radial-gradient(circle at top left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
        background-origin: border-box;
        background-clip: content-box, border-box;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;

        position: absolute;
        top: 80px;
    }
    .titulo-form {
        display: flex;
        width: 90px;
        height: 50px;

        color: rgba(255, 255, 255, 1);
        font-family: TitilBlack;
        border-top: 3px solid rgba(250, 170, 0, 1);
        align-items: center;

        position: absolute;
        top: 45px;
    }
    .caixinha {
        display: flex;
        width: 200px;
        height: 40px;

        outline: none;
        background: none;
        border: none;
    }
    .icone-caixinha {
        display: flex;
        width: 20px;
        height: 20px;
    }
    .icone-usubranco {
        display: flex;
    }
    main .caixa-form form {
        display: flex;

        flex-direction: column;

        position: absolute;
        top: 180px;
    }
    main .caixa-form button {
        display: flex;
        width: 275px;
        height: 40px;

        color: rgba(0, 0, 0, 1);
        background-color: rgba(250, 170, 0, 1);
        border: none;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-family: TitilBold;

        position: absolute;
        top: 345px;
    }
    main .caixa-form .boxizinha {
        display: flex;
        width: 275px;
        height: 40px;

        color: rgba(255, 255, 255, 1);
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1)), radial-gradient(circle at top left, rgba(255 ,255, 255, 0.5), rgba(255, 255, 255, 0.1));
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-color: transparent;
        border-radius: 10px;
        border-color: rgba(255, 255, 255, 1);
        justify-content: space-around;
        align-items: center;
    }
}











/** TABLET FIST **/
@media screen and (min-width:768px){
    .header-menu-usuário{
        display: none;
    }
    .header-menu-lateral {
        display: none;
    }
    .texto-header-mobile {
        display: none;
    }
    .logotipo-mobile {
        display: none;
    }
    .redes-sociais {
        display: none;
    }

    /* H E A D E R */
    /* Header Top */
    
    header .header-top {
        display: flex;
        width: 100%;
        height: 50px;
        z-index: 100;

        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(250, 170, 0, 1);
    }
    .contatos {
        display: flex;
        width: 360px;
        height: 20px;

        align-items: center;
        justify-content: space-between;

        position: absolute;
        left: 60px;
    }
    .phone {
        display: flex;
        width: 110px;
        height: 20px;

        align-items: center;
        justify-content: space-between;
    }
    .mail {
        display: flex;
        width: 155px;
        height: 20px;

        align-items: center;
        justify-content: space-between;
    }

    .redes-sociais-desktablet {
        display: flex;    
        width: 145px;
        height: 20px;

        align-items: center;
        justify-content: space-between;

        position: absolute;
        right: 60px;

    }

    /* Header Bottom */
    .header-bottom {
        display: flex;
        width: 100%;
        height: 90px;
        z-index: 100;

        align-items: center;
        justify-content: center;

        position: absolute;
        top: 50px;
    }
    .header-bottom .logotipo {
        display: flex;
        width: 155px;

        position: absolute;
        left: 60px;
        top: 20px;
    }
    .header-bottom .navs-principais {
        display: flex;
        width: 300px;
        height: 15px;
        z-index: 100;
        
       justify-content: space-between;
       color: rgba(255, 255, 255, 1);
    }
    .navs-principais a {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
    }
    .here {
        color: rgba(250, 170, 0, 1);
    }
    
    .usuario {
        display: flex;
        width: 145px;

        align-items: center;
        justify-content: space-between;

        position: absolute;
        right: 60px;
    }
} 

.mais-popular {
    display: none;
}
.banner {
    display: none;
}